.box-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media screen and (min-width: 780px) {
    .box-container {
        flex-wrap: wrap;
        flex-direction: row;
    }
}

@media screen and (min-width: 1280px) {
    .box-container {
        flex-wrap: nowrap;
    }
}