.page-nav {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.page-nav a {
    color: #000;
    text-decoration: none;
}

@media screen and (min-width: 780px) {
    .page-nav {
        justify-content: flex-start;
        margin-top: 0;
    }
}